<div class="profile-sidebar">
  <!-- First Column: User Photo and Name -->

  <div class="column">
    <div class="column">
      <div class="user-info">
        <!-- Placeholder for user photo -->
        <div class="user-photo">
          <!-- <img src="path/to/your/image.jpg" alt="User Photo"> -->
        </div>
        <!-- Placeholder for user name -->
        <div class="user-name">Aladdin</div>
        <div class="date">Thursday - 7 March 2024 | 20:51</div>
      </div>
    </div>

    <!-- Second Column: Navigation Items -->
    <div class="column">
      <div class="nav-item">
        <mat-icon class="icons">home</mat-icon>
        <p>Home</p>
      </div>
      <div class="nav-item">
        <i class="icons material-icons">space_dashboard</i>
        <p>Statistics</p>
      </div>
      <div class="nav-item">
        <i class="icons material-icons">settings</i>
        <p>Settings</p>
      </div>
    </div>
  </div>

  <!-- Third Column: Logout Button -->
  <div class="column" style="align-items: center">
    <div class="logout-button-container">
      <button class="logout-button">
        <i class="red-icon material-icons">logout</i>
      </button>
    </div>
    <div class="logout-text">Disconnect</div>
  </div>
</div>
