<!-- <app-top-bar></app-top-bar> -->
<!-- <app-details-rightbar></app-details-rightbar> -->
<div class="page-container">
  <app-profile-sidebar style="width: 20%"></app-profile-sidebar>
  <app-temperature-chart style="width: 50%"></app-temperature-chart>
  <app-details-rightbar style="width: 30%"></app-details-rightbar>
  <!-- <app-light-chart style="width: 30%"></app-light-chart> -->
</div>
<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
