<div class="application-container">
  <div class="page-container">
    <app-profile-sidebar style="width: 20%"></app-profile-sidebar>
    <div class="main-container" style="width: 55%">
      <div class="top-container">
        <div>
          <p class="title">Hello, Aladdin</p>
          <p class="text">Welecome to MongoH yellow Dashboard</p>
        </div>

        <div class="column chart-container">
          <app-temperature-chart
            *ngIf="selectedChart === 'temperature'"
            style="width: 100%"
          >
          </app-temperature-chart>
          <app-light-chart
            *ngIf="selectedChart === 'line'"
            style="width: 100%"
          ></app-light-chart>
        </div>
      </div>
      <div class="bottom-container">
        <div class="column chart-buttons">
          <div
            class="chart-button"
            (click)="selectChart('temperature')"
            [class.selected]="selectedChart === 'temperature'"
          >
            <div class="row">
              <i class="material-icons">severe_cold</i>
              <p class="title-chart-button">Temperature</p>
            </div>
            <div>20°C</div>
          </div>
          <div
            class="chart-button"
            (click)="selectChart('line')"
            [class.selected]="selectedChart === 'line'"
          >
            <div class="row">
              <i class="material-icons">severe_cold</i>
              <p class="title-chart-button">Line</p>
            </div>
            <div>20.02 light</div>
          </div>
          <div
            class="chart-button"
            (click)="selectChart('light')"
            [class.selected]="selectedChart === 'light'"
          >
            <div class="row">
              <i class="material-icons">light_mode</i>
              <p class="title-chart-button">Light</p>
            </div>
            <div>20.02 light</div>
          </div>

          <div
            class="chart-button"
            (click)="selectChart('battery')"
            [class.selected]="selectedChart === 'battery'"
          >
            <div class="row">
              <i class="material-icons">battery_charging_full</i>
              <p class="title-chart-button">Battery</p>
            </div>
            <div>100%</div>
          </div>
        </div>
        <div class="column ads-container">
          <div class="ad-div"></div>
          <div class="ad-div"></div>
        </div>
      </div>
    </div>
    <app-details-rightbar
      [percentage]="20"
      style="width: 25%"
    ></app-details-rightbar>
  </div>
</div>
<!-- <app-light-mesurement></app-light-mesurement> -->
