.application-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 227, 197, 1),
    rgba(193, 240, 234, 1)
  );
}

.page-container {
  width: 84%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1c1a21;
  padding: 20px 50px;
}
.top-container {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
.text {
  font-size: 1.2rem;
  margin: 8px 0px;
}

/*****************************/

.column {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.chart-container {
  width: 100%;
  height: 75%;
  margin: auto;
  border-radius: 25px;
  background-color: #2c282f;
  padding: 80px 80px;
}
/************************************************/

.bottom-container {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chart-buttons {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chart-button {
  position: relative;
  width: 22%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  /* align-items: center; */
  /* justify-content: center; */
  cursor: pointer;
  /* background-color: white; */
}

.chart-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 6px;
  background: linear-gradient(
    to right,
    rgba(255, 227, 197, 1),
    rgba(193, 240, 234, 1)
  );
  -webkit-mask: linear-gradient(rgba(255, 227, 197, 1) 0 0) content-box,
    linear-gradient(rgba(193, 240, 234, 1) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.chart-button:hover {
  background: linear-gradient(
    to right,
    rgba(255, 227, 197, 1),
    rgba(193, 240, 234, 1)
  );
}

.chart-button.selected {
  background: linear-gradient(
    to right,
    rgba(255, 227, 197, 1),
    rgba(193, 240, 234, 1)
  );
}

/************************/
.ads-container {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px;
}
.ad-div {
  height: 100%;
  width: 48%;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    rgba(255, 227, 197, 1),
    rgba(193, 240, 234, 1)
  );
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title-chart-button {
  /* color: #fff; */
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 5px;
}
